*{
    font-family: $ff-sans-serif;
    color: $base-a90
}
.card1{
    background-color: $base-0;
    .col-md-4{
        margin-left: 20px;
    }
}
​
.container-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.nav{
    font-family: Arial, Helvetica, sans-serif;
    
}
.container-fluid{
    font-style: normal
    
}
​
.nav-item-1{
    display: flex;
    flex-direction: row;
}
.nav-item-2{
    display: flex;
    flex-direction: row;
}
.nav-item-3{
    display: flex;
    flex-direction: row;
}
.nav-item-4{
    display: flex;
    flex-direction: row;
}
.nav-item-5{
    display: flex;
    flex-direction: row;
}
.nav-item-6{
    display: flex;
    flex-direction: row;
}
.nav-item-7{
    display: flex;
    flex-direction: row;
}
.nav-item-8{
    display: flex;
    flex-direction: row;
}
.nav-item-9{
    display: flex;
    flex-direction: row;
}
.nav-item-10{
    display: flex;
    flex-direction: row;
}
.nav-item-11{
    display: flex;
    flex-direction: row;
}
.nav-item-12{
    display: flex;
    flex-direction: row;
}
.nav-item-13{
    display: flex;
    flex-direction: row;
}
.container-icons{
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    justify-content: center;
    width: 30px;
    
}
​
.tag-item-0{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: left 20px;
    margin: top 10px;
    
}
.tag-item-1{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: left 20px;
    margin: top 10px;
    
}
.tag-item-2{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: left 20px;
    margin: top 10px;
    
}
.tag-item-3{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: left 20px;
    margin: top 10px;
    
}
.tag-item-4{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: left 20px;
    margin: top 10px;
    
}
.tag-item-5{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: left 20px;
    margin: top 10px;
    
}
.tag-item-6{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: left 20px;
    margin: top 10px;  
}
.tag-item-7{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: left 20px;
    margin: top 10px;
}
.tag-item-8{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: left 20px;
    margin: top 10px;
}
.tag-item-9{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: left 20px;
    margin: top 10px;
}
.tag-item-10{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: left 20px;
    margin: top 10px;
}
.tag-item-11{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: left 20px;
    margin: top 10px;
}
.tag-item-12{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: left 20px;
    margin: top 10px;
}
.tag-item-13{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: left 20px;
    margin: top 10px;
}
.tag-item-14{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: left 20px;
    margin: top 10px;
}
.tag-item-15{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: left 20px;
    margin: top 10px;
}
.tag-item-16{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: left 20px;
    margin: top 10px;
}
.tag-item-17{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: left 20px;
    margin: top 10px;
}
.tag-item-18{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: left 20px;
    margin: top 10px;
}
.tag-item-19{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: left 20px;
    margin: top 10px;
}