
.card{
    
}
.card-img{
    border-radius: 2.7rem;
    width: 3.3rem;
    height: 3.9rem;
    margin-top: 14px;
    margin-left: 20px;
}
.card-title{
    font-size: 18px;

}
.card-text{
    margin-bottom: 10px;
}
.container-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: solid red 1px;

    
}

