.h1i {

  font-family: $ff-sans-serif;
  font-weight: 800;
  color: $base;
  font-size: 45px ;

}




.h2i {
  font-family: $ff-dyslexic;
  font-weight: 400;
  color: $base;
}

.primerpost .border {
  border-radius: 15px;
  
}

.navinternoi {
  list-style: none;

}
  
  .usern {
    list-style: none;
  }
    

  