$morado1:#3b49df;
$morado2:#323ebe;
$gris:#808080;


$header-height: 56px;
$site-width: 1280px;
$su-1: 0.25rem;
$su-2: 0.5rem;
$su-3: 0.75rem;
$su-4: 1rem;
$su-5: 1.25rem;
$su-6: 1.5rem;
$su-7: 2rem;
$su-8: 3rem;
$su-9: 4rem;
$su-10: 8rem;
$radius: 5px;
$transition-func: cubic-bezier(0.17, 0.67, 0.5, 0.71);
$transition-time: 100ms;
$transition-props: var(--transition-func) var(--transition-time);
$ff-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$ff-monospace: 'SF Mono', SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
$ff-serif: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
$ff-comic: 'Comic Sans MS', cursive, sans-serif;
$ff-dyslexic: OpenDyslexic, sans-serif;
$fs-xs: 0.75rem;
$fs-s: 0.875rem;
$fs-base: 1rem;
$fs-l: 1.125rem;
$fs-xl: 1.25rem;
$fs-2xl: 1.5rem;
$fs-3xl: 1.875rem;
$fs-4xl: 2.25rem;
$fs-5xl: 3rem;
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-heavy: 800;
$lh-tight: 1.25;
$lh-base: 1.5;
$z-negative: -1;
$z-elevate: 1;
$z-sticky: 100;
$z-drawer: 200;
$z-modal: 300;
$z-dropdown: 400;
$z-popover: 500;


$base: #08090a;
$base-a90: rgba(8, 9, 10, 0.9);
$base-a80: rgba(8, 9, 10, 0.8);
$base-a70: rgba(8, 9, 10, 0.7);
$base-a60: rgba(8, 9, 10, 0.6);
$base-a50: rgba(8, 9, 10, 0.5);
$base-a40: rgba(8, 9, 10, 0.4);
$base-a30: rgba(8, 9, 10, 0.3);
$base-a20: rgba(8, 9, 10, 0.2);
$base-a10: rgba(8, 9, 10, 0.1);
$base-a5: rgba(8, 9, 10, 0.05);
$base-100: $base;
$base-90: #202428;
$base-80: #363d44;
$base-70: #4d5760;
$base-60: #64707d;
$base-50: #7d8a97;
$base-40: #99a3ad;
$base-30: #b5bdc4;
$base-20: #d2d6db;
$base-10: #eef0f1;
$base-0: #f9fafa;
$base-inverted: #fff;
$accent-brand: #3b49df;
$accent-brand-darker: #1827ce;
$accent-brand-lighter: #8d95f2;
$accent-brand-a10: rgba(59, 73, 223, 0.1);
$accent-success: #26d9ca;
$accent-success-darker: #1ab3a6;
$accent-success-lighter: #79ece2;
$accent-success-a10: rgba(38, 217, 202, 0.1);
$accent-warning: #ffcf4c;
$accent-warning-darker: #f5b400;
$accent-warning-lighter: #ffe499;
$accent-warning-a10: rgba(255, 207, 76, 0.1);
$accent-danger: #dc1818;
$accent-danger-darker: #c20a0a;
$accent-danger-lighter: #ec5050;
$accent-danger-a10: rgba(220, 24, 24, 0.1);
$body-bg: $base-10;
$body-color: $base-100;
$body-color-inverted: $base-inverted;
$card-bg: $base-inverted;
$card-color: $base-100;
$card-color-secondary: $base-70;
$card-color-tertiary: $base-60;
$card-secondary-bg: $base-0;
$card-secondary-color: $base-90;
$card-headline-color: $base-100;
$card-border: $base-a10;
$card-secondary-border: $base-a5;
$card-hover-bg: $base-10;
$card-selected-bg: $base-20;
$header-bg: $base-inverted;
$header-bg-hover: $base-10;
$header-bg-current: $base-20;
$header-shadow: rgba(0, 0, 0, 0.1);
$header-icons-color: $base-70;
$header-icons-color-hover: $base-100;
$logo-bg: $base-100;
$logo-color: $base-inverted;
$footer-bg: $base-20;
$footer-color: $base-80;
$footer-link-color: $base-80;
$footer-link-color-hover: $base-100;
$link-color: $base-90;
$link-color-hover: $accent-brand-darker;
$link-bg-hover: $base-a5;
$link-bg-hover-alt: $base-inverted;
$link-brand-color: $accent-brand;
$link-color-current: $base-100;
$link-color-secondary: $base-60;
$link-color-secondary-hover: $base-70;
$link-bg-current: $base-inverted;
$button-primary-bg: $accent-brand;
$button-primary-bg-hover: $accent-brand-darker;
$button-primary-color: $base-0;
$button-primary-color-hover: $base-0;
$button-primary-inverted-bg: $accent-brand;
$button-primary-inverted-bg-hover: $accent-brand-darker;
$button-primary-inverted-color: $base-0;
$button-primary-inverted-color-hover: $base-0;
$button-secondary-bg: $base-20;
$button-secondary-bg-hover: $base-30;
$button-secondary-color: $base-80;
$button-secondary-color-hover: $base-100;
$button-secondary-inverted-bg: $base-70;
$button-secondary-inverted-bg-hover: $base-60;
$button-secondary-inverted-color: $base-10;
$button-secondary-inverted-color-hover: $base-0;
$button-outlined-bg: transparent;
$button-outlined-bg-hover: rgba(0, 0, 0, 0.035);
$button-outlined-border: $base-20;
$button-outlined-border-hover: $base-40;
$button-outlined-color: $base-80;
$button-outlined-color-hover: $base-100;
$button-outlined-inverted-bg: transparent;
$button-outlined-inverted-bg-hover: rgba(255, 255, 255, 0.15);
$button-outlined-inverted-border: $base-60;
$button-outlined-inverted-border-hover: $base-40;
$button-outlined-inverted-color: $base-30;
$button-outlined-inverted-color-hover: $base-10;
$button-ghost-bg: transparent;
$button-ghost-bg-hover: rgba(0, 0, 0, 0.035);
$button-ghost-color: $base-80;
$button-ghost-color-hover: $base-100;
$button-ghost-dimmed-color: $base-60;
$button-ghost-dimmed-color-hover: $base-100;
$button-ghost-inverted-bg: transparent;
$button-ghost-inverted-bg-hover: rgba(255, 255, 255, 0.15);
$button-ghost-inverted-color: $base-30;
$button-ghost-inverted-color-hover: $base-10;
$button-ghost-dimmed-inverted-color: $base-50;
$button-ghost-dimmed-inverted-color-hover: $base-100;
$form-bg: $base-0;
$form-bg-focus: $base-inverted;
$form-border: $base-30;
$form-border-hover: $base-40;
$form-border-focus: $accent-brand;
$form-placeholder-color: $base-60;
$label-primary: $base-90;
$label-secondary: $base-60;
$box: $base-90;
$box-darker: $base-100;
$snackbar-bg: $base-90;
$snackbar-border: $base-100;
$snackbar-color: $body-color-inverted;
$indicator-accent-bg: $accent-brand;
$indicator-accent-color: $body-color-inverted;
$indicator-critical-bg: $accent-danger;
$indicator-critical-color: $body-color-inverted;
$indicator-default-bg: $button-secondary-bg;
$indicator-default-color: $button-secondary-color;
$tab-color: $base-80;
$tab-color-hover: $accent-brand;
$tab-color-current: $base-100;
$tab-bg-hover: $accent-brand-a10;
$tab-bg-current: $accent-brand;
$tab-muted-color: $base-80;
$tab-muted-color-hover: $base-90;
$tab-muted-color-current: $base-100;
$tab-muted-bg-hover: $base-a10;
$tab-muted-bg-current: $base-20;
$tab-pill-color-current: $base-inverted;
$tag-color: $base-60;
$tag-color-hover: $base-100;
$story-comments-bg: $base-0;
$reaction-like-color: $accent-danger;
$reaction-like-bg: $accent-danger-a10;
$reaction-custom-color: $accent-success;
$reaction-custom-bg: $accent-success-a10;
$reaction-save-color: $accent-brand;
$reaction-save-bg: $accent-brand-a10;
$reaction-comment-color: $accent-warning;
$reaction-comment-bg: $accent-warning-a10;

