a:hover {
  text-decoration: none;
  color: #3b49df;
}

.h1i {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 800;
  color: #08090a;
  font-size: 45px;
}

.h2i {
  font-family: OpenDyslexic, sans-serif;
  font-weight: 400;
  color: #08090a;
}

.primerpost .border {
  border-radius: 15px;
}

.etiquetas .etiqueta1 {
  background: #1827ce;
  padding: 5px;
  color: #79ece2;
}

.etiquetas .etiqueta2 {
  background: #26d9ca;
  padding: 5px;
  color: #363d44;
}

.etiquetas .etiqueta3 {
  background: #69e96e;
  padding: 5px;
  color: #363d44;
}

.imag-user {
  width: 40px;
  height: 40px;
}

.post {
  border-radius: 0.5%;
}

.post-img {
  border-radius: 0.5%;
}

.piedepag {
  color: #64707d;
}

.form-control {
  background: #f9fafa;
}

.imag-user3 {
  height: 40px;
  width: 40px;
}

.btndis {
  width: 120px;
  height: 40px;
  -webkit-box-shadow: 0 0 3px 1px #99a3ad;
          box-shadow: 0 0 3px 1px #99a3ad;
  border: #7d8a97;
  color: black;
}

.h2t {
  font-family: OpenDyslexic, sans-serif;
  font-weight: 600;
  color: #08090a;
}

.imag-user2 {
  width: 70px;
  height: 70px;
}

.htext:hover {
  color: #1827ce;
}

.postread .post1i {
  color: #363d44;
}

.postread .post2i {
  color: #64707d;
}

.navinternoi {
  list-style: none;
}

.margn1 {
  margin-left: 46px;
}

.etimain .eti1 {
  color: #4d5760;
}

.etimain .eti2 {
  color: #4d5760;
}

.etimain .eti3 {
  color: #4d5760;
}

.etimain .eti4 {
  color: black;
}

.botonesm1 .boton1 {
  font-size: 14px;
  background-color: white;
  border: none;
}

.botonesm1 .botonsave {
  font-size: 15px;
  background-color: #d2d6db;
  border: none;
  color: #202428;
}

.h6i {
  font-size: 12px;
  vertical-align: middle;
}

.imag-logo {
  width: 50px;
  height: 40px;
}

.back {
  background-color: #d2d6db;
}

.foot1 {
  font-size: 10px;
}

.derecha .enlacei {
  color: #363d44;
}

.derecha .h5ii {
  font-size: 18px;
  font-family: OpenDyslexic, sans-serif;
  margin-bottom: 30px;
}

.card-header {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #eef0f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subtitle-2 {
  font-weight: 700;
  color: #202428;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.25rem;
  color: #202428;
}

.texto {
  font-size: 0.875rem;
  font-weight: 500;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.crayons-link--contentful {
  display: block;
  padding: var(--su-4);
  border-bottom: 1px solid var(--body-bg);
}

.crayons-link {
  color: var(--link-color);
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #eef0f1;
}

.devlayout {
  max-width: 1280px;
}
/*# sourceMappingURL=style.css.map */